

  <h1>CitiBike Trip Mapper</h1>

    <form class="form-inline" id="get-directions-form">

        <label class="sr-only">Start</label>
        <input class="form-control" type="text" id="start" placeholder="Start">
        <img class="current-location-marker" src="http://imgur.com/pGM46FY.png">
      
        <label> End </label>
        <input class="form-control" type="text" id="end" placeholder="End">

        <label class="sr-only">Route Type:</label>
        <select class="form-control" id = "transit-type">
          <option value = "BICYCLING">Bike Paths</option>
          <option value = "DRIVING">More Direct</option>
        </select>
      
      <input class="btn btn-primary" id="submit-button" type='submit'></input>

    </form>

</div>

<div id="map-canvas"/>

</div>


<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-6 col-md-4" id="directionsPanel1">
      <h3 class="directions-discription" id="directions-info1"></h3>
      <h4 class="directions-description" id="station-status1"></h4>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" id="directionsPanel2">
      <h3 class="directions-discription" id="directions-info2"></h3>
      <h4 class="directions-description" id="station-status2"><br></h4>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-4" id="directionsPanel3">
      <h3 class="directions-discription" id="directions-info3"></h3>
      <h4 class="directions-description" id="station-status3"></h4>
    </div>
  </div>
</div>