<h1>CitiBike Trip Mapper</h1>

<form id="get-directions-form">
  <label>
    Start: <input class="input-box" type="text" id="start" value="Current Location">
  </label>
  <label>
    Destination: <input class="input-box" type="text" id="end">
  </label>
  <input id="submit-button" type='submit'></input>
</form>


<div id="map-canvas"/></div>



<div class="directions-container">
  <div class="directions" id="directionsPanel1">
    <h3 class="directions-discription" id="directions-info1"></h3>
    <h4 class="directions-description" id="station-status1"></h4>
  </div>
  <div class="directions" id="directionsPanel2">
    <h3 class="directions-discription" id="directions-info2"></h3>
    <h4 class="directions-description" id="station-status2"><br></h4>
  </div>
  <div class="directions" id="directionsPanel3">
    <h3 class="directions-discription" id="directions-info3"></h3>
    <h4 class="directions-description" id="station-status3"></h4>
  </div>
</div>